# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# IDE files (Visual Studio, CLion etc)
.vs/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
*.user
*.userosscache
*.ipch
*.VC.db
*.VC.VC.opendb
*.workspace
*.idea/

# Build files (CMake, Makefile etc)
CMakeFiles/
CMakeCache.txt
Makefile
*.cmake
build/
Debug/
Release/

# Other files
smfl-app
main.o
*.log
*.tmp
*.core